.select-wrapper {
 	width: 200px;
 	display: inline-block;
}
.select-box {
	position: relative;
}
.select-box select {
	width: 100%;
}
.overSelect {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}
.checkboxes {
	position: absolute;
	background: #fff;
	width: 200px;
	box-sizing: border-box;
	display: none;
	border: 1px #dadada solid;
}
select, option{
	border: 1px #dadada solid;
}
.checkboxes label {
	display: block;
}
.checkboxes label:hover {
	background-color: #1e90ff;
}
.checkboxes label[disabled] {
	color: #b3b3b3;
}
.checkboxes label[disabled]:hover {
	background-color: #fff;
}